body {
    font-family: 'Source Code Pro', monospace;
}

a {
    color: #00ff00;
}

a:visited {
    color: yellow;
}


h1 {
    padding-left: 100px;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding-right: 10px;
}

nav {
    width: 100%;
    padding-left: 100px;
}

#contact {
    position: fixed;
    left: 50px;
    bottom: 50px;
}