* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Mukta",'Source Sans Pro', Helvetica, sans-serif;
    font-weight: 300;
    font-size: 18px;
    background-color: white;
    color:#444444;
}

img {
    width: 190px;
    text-align: auto;
    height: auto;
    border-radius: 48%;
    margin-bottom: 1em;
    margin-top:7em;
}

a {
    color: lightslategray;
    font-weight: 400;
}

a:visited {
    color: lightslategray;
    font-weight: bold;
}

#content {
    padding-left: 320px;
    padding-right: 200px;
    margin-bottom: 50px;
    width: 800px;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 40px;
    font-size: 2.5em;
    font-weight: 600;
}

h2 {
    font-size: 1.6em;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: 600;
    color: lightslategray;
}

.nav-ul {
    list-style-type: none;
    margin: 0;
    margin-top: 3em;
    padding: 0;
    padding-left: 0;
    padding-bottom: 1em;
    -webkit-padding-start: 0;
    -webkit-margin-start: 0;
}

.work-list {
    list-style-position: outside none;
    margin-bottom: 2em;
    margin-left: 2em;
}

.work-item {
    display: block;
    margin-left: 0;
    margin-bottom: 20px;
    padding-left: 1em;
    text-indent: -1em;
    list-style: none;
}

.about-paragraph{
    line-height: 1.4em;
    margin-bottom:0.3em;
}

.abstract {
    margin-top: -0.8em;
    margin-left: 2em;
    font-size: 0.8em;
    margin-bottom: 1em;
}

.about-text {
    margin-left: 2em;
}

.nav-item {
    display: inline;
    list-style: none;
    margin: 0;
    padding-right: 10px;
    padding-bottom: 5px;
}

nav {
    width: 100%;
}

h3 {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom: 1em;
}

#contact {
    position: fixed;
    left: 50px;
    top: 50px;
}

#contact-text {
    text-align: center;
}

.headline-name {
    font-size: 32px;
    font-weight: 700;
    color: lightslategray;
}


@media all and (max-width: 800px) {
    #content {
        margin: 0 auto;
        width: 500px;
    }

    #contact {
        margin: 0 auto;
        width: 200px; 
    }
}

