
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    color:#777777;
}

img {
    width: 180px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 1em;
}

a {
    color: #44dcf4;
}

a:visited {
    color:#44dcf4;
}

#content {
    padding-left: 300px;
    padding-right: 200px;
}

h1 {
    font-family: 'Source Code Pro', sans-serif;
    margin-top: 40px;
    font-size: 3em;
}

h2 {
    font-size: 2em;
    font-family: 'Source Code Pro', sans-serif;
    text-align: center;
    margin-top: 2em;
}

.nav-ul {
    list-style-type: none;
    margin: 0;
    margin-top: 3em;
    padding: 0;
    padding-left: 0;
    padding-bottom: 1em;
    -webkit-padding-start: 0;
    -webkit-margin-start: 0;
}

.work-list {
    list-style-position: outside none;
    margin-bottom: 2em;
}

.work-item {
    display: block;
    margin-left: 0;
    margin-bottom: 5px;
    padding-left: 1em;
    text-indent: -1em;
    list-style: none;
}

.nav-item {
    display: inline;
    list-style: none;
    margin: 0;
    padding-left: 1em;
    padding-right: 10px;
    padding-bottom: 5px;
}

nav {
    width: 100%;
}

h3 {
    font-family: 'Source Code Pro', monospace;
    margin: 0;
    padding: 0;
    padding-bottom: 1em;
}

#contact {
    position: fixed;
    left: 50px;
    bottom: 50px;
}